.git
.gitignore
LICENSE
VERSION
README.md
Changelog.md
Makefile
docker-compose.yml
docs

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

lib/
.env

snowflake/
redshift/
bigquery/